div{
    width: 200px ;
    height: 200px;
    margin: 40px;
}

.azul{
    background-color: blue;
}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.amarillo{
    background-color: yellow;
}

.negro{
    background-color: white ;
    border: 5px solid black;
}